html, body { font-size: 16px; padding: 0; margin: 0; height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background: white; color: #005696; font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif sans-serif; font-weight: 400; font-style: normal; line-height: 150%; position: relative; cursor: default; }

html, button, input, select, textarea { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif sans-serif; }

a, a:hover { outline: 0; text-decoration: none; cursor: pointer; }

img { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

img { display: inline-block; vertical-align: middle; }

textarea { height: auto; min-height: 50px; }

select { width: 100%; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: #ff0; color: #000; }

p, pre { margin: 0 0 1em 0; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ''; content: none; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

dl, menu, ol, ul { margin: 1em 0; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ max-width: 100%; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

table { border-collapse: collapse; border-spacing: 0; }

*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.row { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: 1000px; *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }
.row.collapse > .column, .row.collapse > .columns { padding-left: 0; padding-right: 0; }
.row.collapse .row { margin-left: 0; margin-right: 0; }
.row .row { width: auto; margin-left: -10px; margin-right: -10px; margin-top: 0; margin-bottom: 0; max-width: none; *zoom: 1; }
.row .row:before, .row .row:after { content: " "; display: table; }
.row .row:after { clear: both; }
.row .row.collapse { width: auto; margin: 0; max-width: none; *zoom: 1; }
.row .row.collapse:before, .row .row.collapse:after { content: " "; display: table; }
.row .row.collapse:after { clear: both; }

.column, .columns { padding-left: 10px; padding-right: 10px; width: 100%; float: left; }

[class*="column"] + [class*="column"]:last-child { float: right; }

[class*="column"] + [class*="column"].end { float: left; }

.push-0 { position: relative; left: 0%; right: auto; }

.pull-0 { position: relative; right: 0%; left: auto; }

.push-1 { position: relative; left: 8.33333%; right: auto; }

.pull-1 { position: relative; right: 8.33333%; left: auto; }

.push-2 { position: relative; left: 16.66667%; right: auto; }

.pull-2 { position: relative; right: 16.66667%; left: auto; }

.push-3 { position: relative; left: 25%; right: auto; }

.pull-3 { position: relative; right: 25%; left: auto; }

.push-4 { position: relative; left: 33.33333%; right: auto; }

.pull-4 { position: relative; right: 33.33333%; left: auto; }

.push-5 { position: relative; left: 41.66667%; right: auto; }

.pull-5 { position: relative; right: 41.66667%; left: auto; }

.push-6 { position: relative; left: 50%; right: auto; }

.pull-6 { position: relative; right: 50%; left: auto; }

.push-7 { position: relative; left: 58.33333%; right: auto; }

.pull-7 { position: relative; right: 58.33333%; left: auto; }

.push-8 { position: relative; left: 66.66667%; right: auto; }

.pull-8 { position: relative; right: 66.66667%; left: auto; }

.push-9 { position: relative; left: 75%; right: auto; }

.pull-9 { position: relative; right: 75%; left: auto; }

.push-10 { position: relative; left: 83.33333%; right: auto; }

.pull-10 { position: relative; right: 83.33333%; left: auto; }

.push-11 { position: relative; left: 91.66667%; right: auto; }

.pull-11 { position: relative; right: 91.66667%; left: auto; }

@media only screen { .small-push-0 { position: relative; left: 0%; right: auto; }
  .small-push-1 { position: relative; left: 8.33333%; right: auto; }
  .small-push-2 { position: relative; left: 16.66667%; right: auto; }
  .small-push-3 { position: relative; left: 25%; right: auto; }
  .small-push-4 { position: relative; left: 33.33333%; right: auto; }
  .small-push-5 { position: relative; left: 41.66667%; right: auto; }
  .small-push-6 { position: relative; left: 50%; right: auto; }
  .small-push-7 { position: relative; left: 58.33333%; right: auto; }
  .small-push-8 { position: relative; left: 66.66667%; right: auto; }
  .small-push-9 { position: relative; left: 75%; right: auto; }
  .small-push-10 { position: relative; left: 83.33333%; right: auto; }
  .small-push-11 { position: relative; left: 91.66667%; right: auto; }
  .small-pull-0 { position: relative; right: 0%; left: auto; }
  .small-pull-1 { position: relative; right: 8.33333%; left: auto; }
  .small-pull-2 { position: relative; right: 16.66667%; left: auto; }
  .small-pull-3 { position: relative; right: 25%; left: auto; }
  .small-pull-4 { position: relative; right: 33.33333%; left: auto; }
  .small-pull-5 { position: relative; right: 41.66667%; left: auto; }
  .small-pull-6 { position: relative; right: 50%; left: auto; }
  .small-pull-7 { position: relative; right: 58.33333%; left: auto; }
  .small-pull-8 { position: relative; right: 66.66667%; left: auto; }
  .small-pull-9 { position: relative; right: 75%; left: auto; }
  .small-pull-10 { position: relative; right: 83.33333%; left: auto; }
  .small-pull-11 { position: relative; right: 91.66667%; left: auto; }
  .small-offset-0 { margin-left: 0% !important; }
  .small-offset-1 { margin-left: 8.33333% !important; }
  .small-offset-2 { margin-left: 16.66667% !important; }
  .small-offset-3 { margin-left: 25% !important; }
  .small-offset-4 { margin-left: 33.33333% !important; }
  .small-offset-5 { margin-left: 41.66667% !important; }
  .small-offset-6 { margin-left: 50% !important; }
  .small-offset-7 { margin-left: 58.33333% !important; }
  .small-offset-8 { margin-left: 66.66667% !important; }
  .small-offset-9 { margin-left: 75% !important; }
  .small-offset-10 { margin-left: 83.33333% !important; }
  .small-offset-11 { margin-left: 91.66667% !important; }
  .column, .columns { position: relative; padding-left: 10px; padding-right: 10px; float: left; }
  .small-1 { width: 8.33333%; }
  .small-2 { width: 16.66667%; }
  .small-3 { width: 25%; }
  .small-4 { width: 33.33333%; }
  .small-5 { width: 41.66667%; }
  .small-6 { width: 50%; }
  .small-7 { width: 58.33333%; }
  .small-8 { width: 66.66667%; }
  .small-9 { width: 75%; }
  .small-10 { width: 83.33333%; }
  .small-11 { width: 91.66667%; }
  .small-12 { width: 100%; } }
@media only screen and (min-width: 768px) { .medium-push-0 { position: relative; left: 0%; right: auto; }
  .medium-push-1 { position: relative; left: 8.33333%; right: auto; }
  .medium-push-2 { position: relative; left: 16.66667%; right: auto; }
  .medium-push-3 { position: relative; left: 25%; right: auto; }
  .medium-push-4 { position: relative; left: 33.33333%; right: auto; }
  .medium-push-5 { position: relative; left: 41.66667%; right: auto; }
  .medium-push-6 { position: relative; left: 50%; right: auto; }
  .medium-push-7 { position: relative; left: 58.33333%; right: auto; }
  .medium-push-8 { position: relative; left: 66.66667%; right: auto; }
  .medium-push-9 { position: relative; left: 75%; right: auto; }
  .medium-push-10 { position: relative; left: 83.33333%; right: auto; }
  .medium-push-11 { position: relative; left: 91.66667%; right: auto; }
  .medium-pull-0 { position: relative; right: 0%; left: auto; }
  .medium-pull-1 { position: relative; right: 8.33333%; left: auto; }
  .medium-pull-2 { position: relative; right: 16.66667%; left: auto; }
  .medium-pull-3 { position: relative; right: 25%; left: auto; }
  .medium-pull-4 { position: relative; right: 33.33333%; left: auto; }
  .medium-pull-5 { position: relative; right: 41.66667%; left: auto; }
  .medium-pull-6 { position: relative; right: 50%; left: auto; }
  .medium-pull-7 { position: relative; right: 58.33333%; left: auto; }
  .medium-pull-8 { position: relative; right: 66.66667%; left: auto; }
  .medium-pull-9 { position: relative; right: 75%; left: auto; }
  .medium-pull-10 { position: relative; right: 83.33333%; left: auto; }
  .medium-pull-11 { position: relative; right: 91.66667%; left: auto; }
  .medium-offset-0 { margin-left: 0% !important; }
  .medium-offset-1 { margin-left: 8.33333% !important; }
  .medium-offset-2 { margin-left: 16.66667% !important; }
  .medium-offset-3 { margin-left: 25% !important; }
  .medium-offset-4 { margin-left: 33.33333% !important; }
  .medium-offset-5 { margin-left: 41.66667% !important; }
  .medium-offset-6 { margin-left: 50% !important; }
  .medium-offset-7 { margin-left: 58.33333% !important; }
  .medium-offset-8 { margin-left: 66.66667% !important; }
  .medium-offset-9 { margin-left: 75% !important; }
  .medium-offset-10 { margin-left: 83.33333% !important; }
  .medium-offset-11 { margin-left: 91.66667% !important; }
  .column, .columns { position: relative; padding-left: 10px; padding-right: 10px; float: left; }
  .medium-1 { width: 8.33333%; }
  .medium-2 { width: 16.66667%; }
  .medium-3 { width: 25%; }
  .medium-4 { width: 33.33333%; }
  .medium-5 { width: 41.66667%; }
  .medium-6 { width: 50%; }
  .medium-7 { width: 58.33333%; }
  .medium-8 { width: 66.66667%; }
  .medium-9 { width: 75%; }
  .medium-10 { width: 83.33333%; }
  .medium-11 { width: 91.66667%; }
  .medium-12 { width: 100%; } }
@media only screen and (min-width: 1000px) { .large-push-0 { position: relative; left: 0%; right: auto; }
  .large-push-1 { position: relative; left: 8.33333%; right: auto; }
  .large-push-2 { position: relative; left: 16.66667%; right: auto; }
  .large-push-3 { position: relative; left: 25%; right: auto; }
  .large-push-4 { position: relative; left: 33.33333%; right: auto; }
  .large-push-5 { position: relative; left: 41.66667%; right: auto; }
  .large-push-6 { position: relative; left: 50%; right: auto; }
  .large-push-7 { position: relative; left: 58.33333%; right: auto; }
  .large-push-8 { position: relative; left: 66.66667%; right: auto; }
  .large-push-9 { position: relative; left: 75%; right: auto; }
  .large-push-10 { position: relative; left: 83.33333%; right: auto; }
  .large-push-11 { position: relative; left: 91.66667%; right: auto; }
  .large-pull-0 { position: relative; right: 0%; left: auto; }
  .large-pull-1 { position: relative; right: 8.33333%; left: auto; }
  .large-pull-2 { position: relative; right: 16.66667%; left: auto; }
  .large-pull-3 { position: relative; right: 25%; left: auto; }
  .large-pull-4 { position: relative; right: 33.33333%; left: auto; }
  .large-pull-5 { position: relative; right: 41.66667%; left: auto; }
  .large-pull-6 { position: relative; right: 50%; left: auto; }
  .large-pull-7 { position: relative; right: 58.33333%; left: auto; }
  .large-pull-8 { position: relative; right: 66.66667%; left: auto; }
  .large-pull-9 { position: relative; right: 75%; left: auto; }
  .large-pull-10 { position: relative; right: 83.33333%; left: auto; }
  .large-pull-11 { position: relative; right: 91.66667%; left: auto; }
  .large-offset-0 { margin-left: 0% !important; }
  .large-offset-1 { margin-left: 8.33333% !important; }
  .large-offset-2 { margin-left: 16.66667% !important; }
  .large-offset-3 { margin-left: 25% !important; }
  .large-offset-4 { margin-left: 33.33333% !important; }
  .large-offset-5 { margin-left: 41.66667% !important; }
  .large-offset-6 { margin-left: 50% !important; }
  .large-offset-7 { margin-left: 58.33333% !important; }
  .large-offset-8 { margin-left: 66.66667% !important; }
  .large-offset-9 { margin-left: 75% !important; }
  .large-offset-10 { margin-left: 83.33333% !important; }
  .large-offset-11 { margin-left: 91.66667% !important; }
  .column, .columns { position: relative; padding-left: 10px; padding-right: 10px; float: left; }
  .large-1 { width: 8.33333%; }
  .large-2 { width: 16.66667%; }
  .large-3 { width: 25%; }
  .large-4 { width: 33.33333%; }
  .large-5 { width: 41.66667%; }
  .large-6 { width: 50%; }
  .large-7 { width: 58.33333%; }
  .large-8 { width: 66.66667%; }
  .large-9 { width: 75%; }
  .large-10 { width: 83.33333%; }
  .large-11 { width: 91.66667%; }
  .large-12 { width: 100%; } }
/* small displays */
@media only screen { .show-for-small-only, .show-for-small-up, .hide-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up { display: inherit !important; }
  .hide-for-small-only, .hide-for-small-up, .show-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up { display: none !important; } }
/* medium displays */
@media only screen and (min-width: 768px) { .hide-for-small-only, .show-for-small-up, .show-for-medium-only, .show-for-medium-up, .hide-for-large-only, .hide-for-large-up, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up { display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .hide-for-medium-only, .hide-for-medium-up, .show-for-large-only, .show-for-large-up, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up { display: none !important; } }
/* large displays */
@media only screen and (min-width: 1000px) { .hide-for-small-only, .show-for-small-up, .hide-for-medium-only, .show-for-medium-up, .show-for-large-only, .show-for-large-up, .hide-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up { display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-medium-only, .hide-for-medium-up, .hide-for-large-only, .hide-for-large-up, .show-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up { display: none !important; } }
/* xlarge displays */
@media only screen and (min-width: 1200px) { .hide-for-small-only, .show-for-small-up, .hide-for-medium-only, .show-for-medium-up, .hide-for-large-only, .show-for-large-up, .show-for-xlarge-only, .show-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up { display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-medium-only, .hide-for-medium-up, .show-for-large-only, .hide-for-large-up, .hide-for-xlarge-only, .hide-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up { display: none !important; } }
/* xxlarge displays */
@media only screen and (min-width: 1301px) { .hide-for-small-only, .show-for-small-up, .hide-for-medium-only, .show-for-medium-up, .hide-for-large-only, .show-for-large-up, .hide-for-xlarge-only, .show-for-xlarge-up, .show-for-xxlarge-only, .show-for-xxlarge-up { display: inherit !important; }
  .show-for-small-only, .hide-for-small-up, .show-for-medium-only, .hide-for-medium-up, .show-for-large-only, .hide-for-large-up, .show-for-xlarge-only, .hide-for-xlarge-up, .hide-for-xxlarge-only, .hide-for-xxlarge-up { display: none !important; } }
/* Orientation targeting */
.show-for-landscape, .hide-for-portrait { display: inherit !important; }

.hide-for-landscape, .show-for-portrait { display: none !important; }

[class*="block-grid-"] { display: block; padding: 0; margin: 0 -0.625rem; *zoom: 1; }
[class*="block-grid-"]:before, [class*="block-grid-"]:after { content: " "; display: table; }
[class*="block-grid-"]:after { clear: both; }
[class*="block-grid-"] > li { display: block; height: auto; float: left; padding: 0 0.625rem 1.25rem; }

@media only screen { .small-block-grid-1 > li { width: 100%; list-style: none; }
  .small-block-grid-1 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-1 > li:nth-of-type(1n+1) { clear: both; }
  .small-block-grid-2 > li { width: 50%; list-style: none; }
  .small-block-grid-2 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }
  .small-block-grid-3 > li { width: 33.33333%; list-style: none; }
  .small-block-grid-3 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }
  .small-block-grid-4 > li { width: 25%; list-style: none; }
  .small-block-grid-4 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-4 > li:nth-of-type(4n+1) { clear: both; }
  .small-block-grid-5 > li { width: 20%; list-style: none; }
  .small-block-grid-5 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-5 > li:nth-of-type(5n+1) { clear: both; }
  .small-block-grid-6 > li { width: 16.66667%; list-style: none; }
  .small-block-grid-6 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-6 > li:nth-of-type(6n+1) { clear: both; }
  .small-block-grid-7 > li { width: 14.28571%; list-style: none; }
  .small-block-grid-7 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-7 > li:nth-of-type(7n+1) { clear: both; }
  .small-block-grid-8 > li { width: 12.5%; list-style: none; }
  .small-block-grid-8 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-8 > li:nth-of-type(8n+1) { clear: both; }
  .small-block-grid-9 > li { width: 11.11111%; list-style: none; }
  .small-block-grid-9 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-9 > li:nth-of-type(9n+1) { clear: both; }
  .small-block-grid-10 > li { width: 10%; list-style: none; }
  .small-block-grid-10 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-10 > li:nth-of-type(10n+1) { clear: both; }
  .small-block-grid-11 > li { width: 9.09091%; list-style: none; }
  .small-block-grid-11 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-11 > li:nth-of-type(11n+1) { clear: both; }
  .small-block-grid-12 > li { width: 8.33333%; list-style: none; }
  .small-block-grid-12 > li:nth-of-type(1n) { clear: none; }
  .small-block-grid-12 > li:nth-of-type(12n+1) { clear: both; } }
@media only screen and (min-width: 768px) { .medium-block-grid-1 > li { width: 100%; list-style: none; }
  .medium-block-grid-1 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-1 > li:nth-of-type(1n+1) { clear: both; }
  .medium-block-grid-2 > li { width: 50%; list-style: none; }
  .medium-block-grid-2 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }
  .medium-block-grid-3 > li { width: 33.33333%; list-style: none; }
  .medium-block-grid-3 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }
  .medium-block-grid-4 > li { width: 25%; list-style: none; }
  .medium-block-grid-4 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-4 > li:nth-of-type(4n+1) { clear: both; }
  .medium-block-grid-5 > li { width: 20%; list-style: none; }
  .medium-block-grid-5 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-5 > li:nth-of-type(5n+1) { clear: both; }
  .medium-block-grid-6 > li { width: 16.66667%; list-style: none; }
  .medium-block-grid-6 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-6 > li:nth-of-type(6n+1) { clear: both; }
  .medium-block-grid-7 > li { width: 14.28571%; list-style: none; }
  .medium-block-grid-7 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-7 > li:nth-of-type(7n+1) { clear: both; }
  .medium-block-grid-8 > li { width: 12.5%; list-style: none; }
  .medium-block-grid-8 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-8 > li:nth-of-type(8n+1) { clear: both; }
  .medium-block-grid-9 > li { width: 11.11111%; list-style: none; }
  .medium-block-grid-9 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-9 > li:nth-of-type(9n+1) { clear: both; }
  .medium-block-grid-10 > li { width: 10%; list-style: none; }
  .medium-block-grid-10 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-10 > li:nth-of-type(10n+1) { clear: both; }
  .medium-block-grid-11 > li { width: 9.09091%; list-style: none; }
  .medium-block-grid-11 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-11 > li:nth-of-type(11n+1) { clear: both; }
  .medium-block-grid-12 > li { width: 8.33333%; list-style: none; }
  .medium-block-grid-12 > li:nth-of-type(1n) { clear: none; }
  .medium-block-grid-12 > li:nth-of-type(12n+1) { clear: both; } }
@media only screen and (min-width: 1000px) { .large-block-grid-1 > li { width: 100%; list-style: none; }
  .large-block-grid-1 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-1 > li:nth-of-type(1n+1) { clear: both; }
  .large-block-grid-2 > li { width: 50%; list-style: none; }
  .large-block-grid-2 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-2 > li:nth-of-type(2n+1) { clear: both; }
  .large-block-grid-3 > li { width: 33.33333%; list-style: none; }
  .large-block-grid-3 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-3 > li:nth-of-type(3n+1) { clear: both; }
  .large-block-grid-4 > li { width: 25%; list-style: none; }
  .large-block-grid-4 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-4 > li:nth-of-type(4n+1) { clear: both; }
  .large-block-grid-5 > li { width: 20%; list-style: none; }
  .large-block-grid-5 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-5 > li:nth-of-type(5n+1) { clear: both; }
  .large-block-grid-6 > li { width: 16.66667%; list-style: none; }
  .large-block-grid-6 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-6 > li:nth-of-type(6n+1) { clear: both; }
  .large-block-grid-7 > li { width: 14.28571%; list-style: none; }
  .large-block-grid-7 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-7 > li:nth-of-type(7n+1) { clear: both; }
  .large-block-grid-8 > li { width: 12.5%; list-style: none; }
  .large-block-grid-8 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-8 > li:nth-of-type(8n+1) { clear: both; }
  .large-block-grid-9 > li { width: 11.11111%; list-style: none; }
  .large-block-grid-9 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-9 > li:nth-of-type(9n+1) { clear: both; }
  .large-block-grid-10 > li { width: 10%; list-style: none; }
  .large-block-grid-10 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-10 > li:nth-of-type(10n+1) { clear: both; }
  .large-block-grid-11 > li { width: 9.09091%; list-style: none; }
  .large-block-grid-11 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-11 > li:nth-of-type(11n+1) { clear: both; }
  .large-block-grid-12 > li { width: 8.33333%; list-style: none; }
  .large-block-grid-12 > li:nth-of-type(1n) { clear: none; }
  .large-block-grid-12 > li:nth-of-type(12n+1) { clear: both; } }
/*//  .main-footer
div.site{
	margin: 0 auto;
}

div.bottom-push{
	display: none;
}

.main-footer {
	height: $footerHeight;
}*/
div.site { min-height: 100%; position: relative; height: auto !important; height: 100%; margin: 0 auto -100px; }

body > .site > .bottom-push { height: 100px; }

.main-footer { min-height: 100px; position: relative; z-index: 1000; }

a { color: #005696; -webkit-transition: color 1s ease; -moz-transition: color 1s ease; -ms-transition: color 1s ease; -o-transition: color 1s ease; transition: color 1s ease; }
a:hover { color: #001c30; }

h1 { font-size: 36px; line-height: 120%; margin: 0; padding: 0; }
h1:first-child { margin-bottom: 0.67em; }
h1:first-child:last-child { margin-bottom: 0; }
h1:last-child { margin-top: 0.67em; }
h1:last-child:first-child { margin-top: 0; }

h2 { font-size: 30px; line-height: 120%; margin: 0; padding: 0; }
h2:first-child { margin-bottom: 0.83em; }
h2:first-child:last-child { margin-bottom: 0; }
h2:last-child { margin-top: 0.83em; }
h2:last-child:first-child { margin-top: 0; }

h3 { font-size: 24px; line-height: 120%; margin: 0; padding: 0; }
h3:first-child { margin-bottom: 1em; }
h3:first-child:last-child { margin-bottom: 0; }
h3:last-child { margin-top: 1em; }
h3:last-child:first-child { margin-top: 0; }

h4 { font-size: 18px; line-height: 120%; margin: 0; padding: 0; }
h4:first-child { margin-bottom: 1.33em; }
h4:first-child:last-child { margin-bottom: 0; }
h4:last-child { margin-top: 1.33em; }
h4:last-child:first-child { margin-top: 0; }

h5 { font-size: 16px; line-height: 120%; margin: 0; padding: 0; }
h5:first-child { margin-bottom: 1.67em; }
h5:first-child:last-child { margin-bottom: 0; }
h5:last-child { margin-top: 1.67em; }
h5:last-child:first-child { margin-top: 0; }

h6 { font-size: 16px; line-height: 120%; margin: 0; padding: 0; }
h6:first-child { margin-bottom: 2.23em; }
h6:first-child:last-child { margin-bottom: 0; }
h6:last-child { margin-top: 2.23em; }
h6:last-child:first-child { margin-top: 0; }

.sidr { display: none; position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; width: 260px; overflow-x: none; overflow-y: auto; font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif sans-serif; font-size: 15px; background: #f8f8f8; color: #005696; -webkit-box-shadow: inset 0 0 5px 5px #ebebeb; -moz-box-shadow: inset 0 0 5px 5px #ebebeb; box-shadow: inset 0 0 5px 5px #ebebeb; }

.sidr .sidr-inner { padding: 0 0 15px; }

.sidr .sidr-inner > p { margin-left: 15px; margin-right: 15px; }

.sidr.right { left: auto; right: -260px; }

.sidr.left { left: -260px; right: auto; }

.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 { font-size: 11px; font-weight: normal; padding: 0 15px; margin: 0 0 5px; color: #005696; line-height: 24px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(white, #dfdfdf); background-image: -moz-linear-gradient(white, #dfdfdf); background-image: -o-linear-gradient(white, #dfdfdf); background-image: linear-gradient(white, #dfdfdf); -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2); }

.sidr p { font-size: 13px; margin: 0 0 12px; }

.sidr p a { color: #005696; }

.sidr > p { margin-left: 15px; margin-right: 15px; }

.sidr ul { display: block; margin: 0 0 15px; padding: 0; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #fff; }

.sidr ul li { display: block; margin: 0; line-height: 48px; border-top: 1px solid #fff; border-bottom: 1px solid #dfdfdf; }

.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span { -webkit-box-shadow: inset 0 0 15px 3px #ebebeb; -moz-box-shadow: inset 0 0 15px 3px #ebebeb; box-shadow: inset 0 0 15px 3px #ebebeb; }

.sidr ul li a, .sidr ul li span { padding: 0 15px; display: block; text-decoration: none; color: #005696; }

.sidr ul li ul { border-bottom: none; margin: 0; }

.sidr ul li ul li { line-height: 40px; font-size: 13px; }

.sidr ul li ul li:last-child { border-bottom: none; }

.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span { -webkit-box-shadow: inset 0 0 15px 3px #ebebeb; -moz-box-shadow: inset 0 0 15px 3px #ebebeb; box-shadow: inset 0 0 15px 3px #ebebeb; }

.sidr ul li ul li a, .sidr ul li ul li span { color: rgba(51, 51, 51, 0.8); padding-left: 30px; }

.sidr form { margin: 0 15px; }

.sidr label { font-size: 13px; }

.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select { width: 100%; font-size: 13px; padding: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 0 10px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; border: none; background: rgba(0, 0, 0, 0.1); color: rgba(51, 51, 51, 0.6); display: block; clear: both; }

.sidr input[type=checkbox] { width: auto; display: inline; clear: none; }

.sidr input[type=button], .sidr input[type=submit] { color: #f8f8f8; background: #005696; }

.sidr input[type=button]:hover, .sidr input[type=submit]:hover { background: rgba(51, 51, 51, 0.9); }

.main-header { position: relative; height: 80px; line-height: 80px; background: rgba(255, 255, 255, 0.7); z-index: 200; }
.main-header .logo-header { margin: 0; padding: 0; max-height: 80px; display: block; }
.main-header .logo-header img { max-height: 80px; display: block; }

ul.header-nav { height: 80px; line-height: 80px; list-style: none; z-index: 10; width: 100%; text-align: right; margin: 0; padding: 0; }
ul.header-nav > li { text-align: right; margin-left: 30px !important; }
ul.header-nav > li > a { margin: 0; border: 0px none; outline: none; background: transparent; line-height: 80px; color: #005696; }
ul.header-nav > li > a:hover { color: #001c30; }
ul.header-nav a { color: #005696; font-weight: 700; display: block; text-transform: uppercase; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
ul.header-nav a:hover { color: #001c30; }
ul.header-nav .current-menu-item > a { color: #003963; }
ul.header-nav li { -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; position: relative; display: inline-block; margin: 0; border: 0px none; list-style: none; }
ul.header-nav li:hover > ul { display: block; opacity: 1; visibility: visible; }
ul.header-nav li ul { text-align: left; padding: 0; margin: 0; position: absolute; top: 80px; left: -10px; width: 175px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; display: none; opacity: 0; visibility: hidden; -webkit-transition: opacity 0.2s ease; -moz-transition: opacity 0.2s ease; -ms-transition: opacity 0.2s ease; -o-transition: opacity 0.2s ease; transition: opacity 0.2s ease; }
ul.header-nav li ul > li:hover > a { background: white; color: #005696; }
ul.header-nav li ul li { display: block; color: #005696; }
ul.header-nav li ul li a { line-height: 16px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; background: white; color: #005696; }
ul.header-nav li ul li ul { left: 175px; top: 0; }
ul.header-nav li ul li ul > li:hover a, ul.header-nav li ul li ul a:hover { background: white; color: #005696; }

@media only screen and (min-width: 1000px) { .wrapper.main-header { background: white; }
  #site-wrapper { padding-top: 0px; } }
#btn-mobile-nav { position: relative; height: 80px; width: 50px; display: inline-block; display: block; }
#btn-mobile-nav img { -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; display: block; position: absolute; top: 0; left: 0; height: 80px; width: 50px; }
#btn-mobile-nav img.top { opacity: 1; }
#btn-mobile-nav img.top { z-index: 100; }
#btn-mobile-nav img.bottom { z-index: 1; }
#btn-mobile-nav:hover .top { opacity: 0; }
#btn-mobile-nav.active .top { opacity: 0; }

.row.small-padding, .inner-wrapper.small-padding { padding-left: 20px; padding-right: 20px; }

@media only screen and (min-width: 768px) and (max-width: 999px) { .row.small-padding, .inner-wrapper.small-padding { padding-left: 10px; padding-right: 10px; }
  .inner-wrapper.medium-padding, .row.medium-padding { padding-left: 20px; padding-right: 20px; } }
@media only screen and (min-width: 1000px) { .inner-wrapper.medium-padding, .row.medium-padding { padding-left: 10px; padding-right: 10px; }
  .row.large-padding, .inner-wrapper.large-padding { padding-left: 20px; padding-right: 20px; } }
.archive-header.articles-header { padding-top: 40px; padding-bottom: 40px; }
.archive-header.articles-header div.table-wrapper { padding: 0; width: 100%; display: table; }
.archive-header.articles-header ul.dropdown-select { max-width: 100%; }
.archive-header .search-form { margin-top: 20px; }
.archive-header .search-form input { border: 1px solid white; }
.archive-header .search-form .search-field { border-right: 0px none; color: white; background: transparent; height: 40px; line-height: 40px; font-weight: 400; }
.archive-header .search-form .search-field.placeholder { font-weight: 400; color: white; }
.archive-header .search-form .search-field:-moz-placeholder { font-weight: 400; color: white; }
.archive-header .search-form .search-field::-moz-placeholder { font-weight: 400; color: white; }
.archive-header .search-form .search-field::-webkit-input-placeholder { font-weight: 400; color: white; }
.archive-header .search-form .search-submit { border-left: 0px none; height: 40px; line-height: 40px; background: transparent url("../images/icon-search-white.png") 100% 50% no-repeat; background-size: contain; padding-left: 10px; padding-right: 10px; }
.archive-header .columns > div { display: table; vertical-align: middle; font-weight: 600; padding-top: 40px; padding-bottom: 40px; }
.archive-header span.title { display: table-cell; vertical-align: middle; font-size: 24px; line-height: 100%; min-height: 100%; padding-right: 20px; color: white; }
.archive-header ul.dropdown-select { vertical-align: middle; display: table-cell; list-style-type: none; position: relative; padding: 0; margin: 0; min-width: 275px; }
.archive-header ul.dropdown-select > li > a { border: 1px solid white; display: block; padding-right: 60px; padding-bottom: 10px; position: relative; }
.archive-header ul.dropdown-select > li > a:before { content: ''; background: url("../images/icon-arrow-white-bottom.png") no-repeat 50% 50%; background-size: contain; height: 40px; width: 40px; position: absolute; top: 50%; margin-top: -20px; right: 5px; }
.archive-header ul.dropdown-select:hover ul { display: block; }
.archive-header ul.dropdown-select li { position: relative; list-style-type: none; }
.archive-header ul.dropdown-select li a { color: white; font-size: 14px; padding: 10px 10px; font-weight: 400; display: block; }
.archive-header ul.dropdown-select li a:hover { color: #cccccc; }
.archive-header ul.dropdown-select ul { display: none; color: white; background: white; padding: 0; position: absolute; width: 100%; border: 1px solid white; border-top: 0px none; margin-top: -1px; z-index: 99999; }
.archive-header ul.dropdown-select ul li { font-weight: 700; background: rgba(0, 86, 150, 0.8); -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.archive-header ul.dropdown-select ul li:hover { background: rgba(0, 115, 201, 0.8); }

.archive-navigation { border-top: 1px solid #005696; padding-top: 40px; padding-bottom: 40px; }
.archive-navigation.paginate-stories { margin-top: 40px; }
.archive-navigation .nav-previous { text-align: left; }
.archive-navigation .nav-next { text-align: right; }
.archive-navigation a { color: #005696; padding: 0; text-transform: uppercase; display: block; font-weight: 800; line-height: 100%; font: 1.125em; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.archive-navigation a:hover { color: #005696; border-color: #005696; }

.search-form input { border: 1px solid #005696; width: 80%; float: left; height: 40px; }
.search-form .search-field { border-right: 0px none; padding: 0 5px; color: #005696; }
.search-form .search-submit { border-left: 0px none; background: white url("../images/icon-search-grey.png") 50% 50% no-repeat; background-size: contain; width: 20%; display: block; text-indent: -999999px; }

@media only screen and (min-width: 768px) { .archive-header .search-form { margin-top: 0px; } }
.loop-articles .single-article { padding-top: 40px; padding-bottom: 40px; border-top: 1px solid #005696; }
.loop-articles .single-article.is-single .cat-image { margin-bottom: 1em; }
.loop-articles .single-article .featured-image { padding-left: 0; padding-right: 20px; padding-bottom: 20px; }
.loop-articles .single-article .general-category { margin-top: 0; }
.loop-articles .single-article:first-child { border-top: 0px none; }
.loop-articles .single-article .sub-header { font-size: 1.125em; line-height: 120%; }
.loop-articles .single-article p.read-more-link { margin-bottom: 0; }
.loop-articles .single-article p.read-more-link a { text-transform: uppercase; font-weight: 800; color: #005696; }

.article-sidebar { padding-top: 40px; }
.article-sidebar h2 { clear: both; padding-top: 40px; font-weight: 800; color: #005696; text-transform: uppercase; }
.article-sidebar ul { padding: 0; margin: 0; }
.article-sidebar .category-display li { color: #005696; margin-left: 20px; text-transform: uppercase; }
.article-sidebar .category-display li a { color: #005696; }
.article-sidebar .category-display li a:hover { color: #001c30; }
.article-sidebar .recent-articles { margin-top: 40px; border-top: 1px solid #005696; }
.article-sidebar .recent-articles ul { margin-left: 0; }
.article-sidebar .recent-articles ul li { margin-left: 0; list-style-type: none; display: block; }
.article-sidebar .recent-articles ul li a { border-bottom: 1px solid #005696; font-weight: 800; display: block; padding-top: 5px; padding-bottom: 5px; }

@media only screen and (min-width: 768px) { .loop-articles .single-article .sub-header { font-size: 1.5em; }
  .loop-articles .single-article .text-wrapper { padding-right: 20px; } }
