//TODO: This looks unorganized. Should this be seperated more into files.. Need to address it
.no-space{
	margin-top:    0 !important;
	margin-bottom: 0 !important;
}

.row{
	&.wide-row{
		max-width: 1600px;
	}
	&.wide-row-extra{
		max-width: 100%;
	}
	&.width-1200{
		max-width: 1200px;
	}
	&.collapse{
		.columns{
			&.padding-left{
				padding-left: $padding-gutter;
			}
			&.padding-right{
				padding-right: $padding-gutter;
			}
		}
	}
}

@media #{$small-up} {
	@include responsive-padding($size: small);
}

@media #{$small-only} {
	@include responsive-padding($size: small-only);
}

@media #{$medium-up} {
	@include responsive-padding($size: medium);
}

@media #{$medium-only} {
	@include responsive-padding($size: medium-only);
}

@media #{$large-up} {
	@include responsive-padding($size: large);
}

@media #{$large-only} {
	@include responsive-padding($size: large-only);
}

@if $include-xl-html-grid-classes{
	@media #{$xlarge-up} {
		@include responsive-padding($size: xlarge);
	}
	@media #{$xlarge-only} {
		@include responsive-padding($size: xlarge-only);
	}
	@media #{$xxlarge-up} {
		@include responsive-padding($size: xxlarge);
	}
	@media #{$xxlarge-only} {
		@include responsive-padding($size: xxlarge-only);
	}
}

.small-squared,
.medium-squared,
.large-squared{
	position: relative;
	display:  block;
	img.square{
		display: none;
	}
	.content{
		padding: $padding-gutter*2;
	}
}

@media #{$small-only}{
	@include squared-content(small);
}

@media #{$medium-only}{
	@include squared-content(medium);
}

@media #{$large-up}{
	@include squared-content(large);
}

/** div.x-squared>div.content.content-center+img.square **/

.display{
	&.display-block{
		display: block;
	}
	&.display-inline{
		display: inline-block;
	}
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.float-center,
.aligncenter{
	margin: 0 auto;
	float:  none;
	display: block;
}
.alignright,
.float-right{
	float: right;
}

.alignleft,
.float-left{
	float: left;
}

/** FONT STYLING **/
.text-upper{
	text-transform: uppercase;
}

.text-regular{
	text-transform: none;
}

.font-size{
	&.body-small{
		font-size: $font-size-body-small;
	}
	&.body-normal{
		font-size: $font-size-body;
	}
	&.body-large{
		font-size: $font-size-body-large;
	}
	&.header-small{
		font-size: $font-size-header-small;
	}
	&.header{
		font-size: $font-size-header;
	}
	&.header-medium{
		font-size: $font-size-header-medium;
	}
	&.header-large{
		font-size: $font-size-header-large;
	}
}

/** COLOR OBJECTS **/
@include color-oocs('body', $color-body, $color-body-lt, $color-body-dk);
@include color-oocs('white', $color-white);
@include color-oocs('black', $color-black);

.button{
	display:        inline-block;
	padding:        $padding-gutter/4 $padding-gutter/2;
	font:           400 #{$font-size-body}/120% $font-header;
	text-transform: uppercase;
	@include transition();
	&.display-block{
		display: block;
	}
	&.button-body{
		color:      $color-white;
		background: $color-body-lt;
		&:hover{
			background: $color-body;
		}
	}
}