.no-space{
	margin-top:    0 !important;
	margin-bottom: 0 !important;
}

.row{
	&.wide-row{
		max-width: 1600px;
	}
	&.wide-row-extra{
		max-width: 100%;
	}
	&.width-1200{
		max-width: 1200px;
	}
	&.collapse{
		.columns{
			&.padding-left{
				padding-left: $column-gutter;
			}
			&.padding-right{
				padding-right: $column-gutter;
			}
		}
	}
}

.padding-left{
	padding-left: $column-gutter;
	&.double-space{
		padding-left: $column-gutter*2;
	}
	&.half-space{
		padding-left: $column-gutter/2;
	}
}

.padding-right{
	padding-right: $column-gutter;
	&.double-space{
		padding-right: $column-gutter*2;
	}
	&.half-space{
		padding-right: $column-gutter/2;
	}
}

.padding-top{
	padding-top: $column-gutter;
	&.double-space{
		padding-top: $column-gutter*2;
	}
	&.half-space{
		padding-top: $column-gutter/2;
	}
}

.padding-bottom{
	padding-bottom: $column-gutter;
	&.double-space{
		padding-bottom: $column-gutter*2;
	}
	&.half-space{
		padding-bottom: $column-gutter/2;
	}
}

.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}
.alignright,
.float-right{
	float: right;
}
.alignleft,
.float-left{
	float: left;
}

.text-upper{
	text-transform: uppercase;
}

.text-regular{
	text-transform: none;
}

