.align-right{
	text-align: right;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}
.alignright,
.float-right{
	float: right;
}
.alignleft,
.float-left{
	float: left;
}


.padding-top{
	padding-top: $column-gutter-plus;
	&.double-space{
		padding-top: $column-gutter-plus*2;
	}
	&.half-space{
		padding-top: $column-gutter-plus/2;
	}
}

.padding-bottom{
	padding-bottom: $column-gutter-plus;
	&.double-space{
		padding-bottom: $column-gutter-plus*2;
	}
	&.half-space{
		padding-bottom: $column-gutter-plus/2;
	}
}
