.row.small-padding,
.inner-wrapper.small-padding{
	padding-left:  $padding-gutter;
	padding-right: $padding-gutter;
}

h1{
	font-size: $font-size-header-large;
}

h2{
	font-size: $font-size-header-medium;
}

h3{
	font-size: $font-size-header;
}

h4{
	font-size: $font-size-header-small;
}

h5{
	font-size: $font-size-body-large;
}

h6{
	font-size: $font-size-body;
}

h1, h2, h3, h4, h5, h6{
	@include headerMargin($font-size-body);
	font-weight: $weight-body;
	+ p{
		@include headerMargin($font-size-body, false);
	}
}
@include mediaQuery($large-up){
	.inner-wrapper.small-padding,
	.row.small-padding{
		padding-left:  $padding-gutter / 2;
		padding-right: $padding-gutter / 2;
	}
	.row.large-padding,
	.inner-wrapper.large-padding{
		padding-left:  $padding-gutter;
		padding-right: $padding-gutter;
	}
}