.sidr{
	display:            none;
	position:           absolute;
	position:           fixed;
	top:                0;
	height:             100%;
	z-index:            999999;
	width:              260px;
	overflow-x:         none;
	overflow-y:         auto;
	font-family:        $bodyFont;
	font-size:          15px;
	background:         #f8f8f8;
	color:              $color-main;
	@include box-shadow(inset 0 0 5px 5px #ebebeb);
	.sidr-inner{
		padding: 0 0 15px;
		> p{
			margin-left:  15px;
			margin-right: 15px;
		}
	}
	&.right{
		left:  auto;
		right: -260px;
	}
	&.left{
		left:  -260px;
		right: auto;
	}
	h1, h2, h3,
	h4, h5, h6{
		font-size:          11px;
		font-weight:        normal;
		padding:            0 15px;
		margin:             0 0 5px;
		color:              $color-main;
		line-height:        24px;
		background-image:   -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
		background-image:   -webkit-linear-gradient(#ffffff, #dfdfdf);
		background-image:   -moz-linear-gradient(#ffffff, #dfdfdf);
		background-image:   -o-linear-gradient(#ffffff, #dfdfdf);
		background-image:   linear-gradient(#ffffff, #dfdfdf);
		@include box-shadow(0 5px 5px 3px rgba(#000000, 0.2));
	}
	p{
		font-size: 13px;
		margin:    0 0 12px;
		a{
			color: $color-main;
		}
	}
	> p{
		margin-left:  15px;
		margin-right: 15px;
	}
	ul{
		display:       block;
		margin:        0 0 15px;
		padding:       0;
		border-top:    1px solid #dfdfdf;
		border-bottom: 1px solid #fff;
		li{
			display:       block;
			margin:        0;
			line-height:   48px;
			border-top:    1px solid #fff;
			border-bottom: 1px solid #dfdfdf;
			&.current-menu-item,
			&.current-page-ancestor,
			&:hover,
			&.active,
			&.sidr-class-active{
				> a,
				> span{
					@include box-shadow(inset 0 0 15px 5px #ebebeb);
				}
				a, span{
					padding:         0 15px;
					display:         block;
					text-decoration: none;
					color:           $color-main;
				}
			}
			ul{
				border-bottom: none;
				margin:        0;
				li{
					line-height: 40px;
					font-size:   13px;
					&:last-child{
						border-bottom: none;
					}
					a, span{
						color:        rgba(#333333, 0.8);
						padding-left: 30px;
					}
				}
			}
		}
	}
	form{
		margin: 0 15px;
		label{
			font-size: 13px;
		}
		input[type="text"],
		input[type="password"],
		input[type="date"],
		input[type="datetime"],
		input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="tel"],
		input[type="time"],
		input[type="url"],
		textarea,
		select{
			width:                 100%;
			font-size:             13px;
			padding:               5px;
			margin:                0 0 10px;
			border:                none;
			background:            rgba(#000000, 0.1);
			color:                 rgba(#333333, 0.6);
			display:               block;
			clear:                 both;
			@include border-radius(0);
		}
		input[type=checkbox]{
			width:   auto;
			display: inline;
			clear:   none;
		}
		input[type=button],
		input[type=submit]{
			color:      #f8f8f8;
			background: $color-main;
			&:hover{
				background: rgba(#333333, 0.9);
			}
		}
	}

}