$bodyFont: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFont: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$color-white: #fff;
$color-main: #005696;
$color-alt: #d53525;

//Font Sizes
$font-size-header-large: 24px;
$font-size-header-small: 14px;
$font-size-body: 14px;
$font-size-body-small: 12px;

//Foundation Setting
$body-bg: $color-white;
$body-font-color: $color-main;
$body-font: $bodyFont;
$body-font-family: $bodyFont;
$base-font-size: $font-size-body;
$body-font-weight: 400;
$article-spacing: 40px;

$footerHeight: 100px;
$footerPush: -#{$footerHeight};

@import "simplegrid/settings";
$column-gutter-plus: $column-gutter + ($column-gutter/2);

//sticky footer
//body
//  .site
//      .push
/*//  .main-footer
div.site{
	margin: 0 auto;
}

div.bottom-push{
	display: none;
}

.main-footer {
	height: $footerHeight;
}*/

div.site{
	min-height: 100%;
	position:   relative;
	height:     auto !important;
	height:     100%;
	margin:     0 auto $footerPush;
}

body > .site > .bottom-push{
	height: $footerHeight;
}

.main-footer{
	min-height: $footerHeight;
	position:   relative;
	z-index:    1000;
}

a{
	color: $color-main;
	@include transition(color);
	&:hover{
		color: darken($color-main, 20%);
	}
}


h1{
	font-size: fontSize(header-large);
	@include headerMargin(.67em)
}

h2{
	font-size: fontSize(header-large);
	@include headerMargin(.83em);
}

h3{
	font-size: fontSize(header-large);
	@include headerMargin(1em);
}

h4{
	font-size: fontSize(header-large);
	@include headerMargin(1.33em);
}

h5{
	font-size: fontSize(header-large);
	@include headerMargin(1.67em);
}

h6{
	font-size: fontSize(headerLarge);
	@include headerMargin(2.23em);
}
@import '_sidr.light','ooc','header','footer','page';

//Have blogging?
@import 'archive','articles';
