$bodyFont: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFont: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$color-white: #fff;
$color-black: #000;

$color-main: #ed1c24;
$color-alt: darkenColor($color-main);
$color-body: #494949;
$color-body-lt: #e1e1e1;

$weight-body: 300;
$weight-bold: 700;
$weight-header: 800;

// Font Sizes
// Small body: 14px;
// Normal body: 18px;
// Large body: 24px
//
// Small Header:   24px;
// Normal header: 36px;
// Large header: 60px
//
//Font Sizes

$font-size-body-small: 14px;
$font-size-body: 18px;
$font-size-body-large: 24px;

$font-size-header-small: 24px;
$font-size-header: 36px;
$font-size-header-medium: 48px;
$font-size-header-large: 60px;

//Foundation Setting
$body-bg: $color-white;
$body-font-color: $color-body;
$body-font: $bodyFont;
$body-font-family: $body-font;
$base-font-size: $font-size-body;
$body-font-weight: $weight-body;
$article-spacing: 40px;

$footerHeight: 100px;
$footerPush: -#{$footerHeight};

$heightHeader: 100px;
$heightHeaderOffset: -#{$heightHeader};
$mobileHeader: 80px;

@import "simplegrid/settings";
$column-gutter-plus: $column-gutter + ($column-gutter/2);

//sticky footer
//body
//  .site
//      .push
/*//  .main-footer
div.site{
	margin: 0 auto;
}

div.bottom-push{
	display: none;
}

.main-footer {
	height: $footerHeight;
}*/

div.site{
	min-height: 100%;
	position:   relative;
	height:     auto !important;
	height:     100%;
	margin:     0 auto $footerPush;
}

body > .site > .bottom-push{
	height: $footerHeight;
}

.main-footer{
	min-height: $footerHeight;
	position:   relative;
	z-index:    1000;
}

a{
	color: $color-main;
	@include transition(color);
	&:hover{
		color: darken($color-main, 20%);
	}
}


h1{
	font-size: $font-size-header;
	@include headerMargin(.67em)
}

h2{
	font-size: $font-size-header;
	@include headerMargin(.83em);
}

h3{
	font-size: $font-size-header;
	@include headerMargin(1em);
}

h4{
	font-size: $font-size-header;
	@include headerMargin(1.33em);
}

h5{
	font-size: $font-size-header-small;
	@include headerMargin(1.67em);
}

h6{
	font-size: $font-size-header-small;
	@include headerMargin(2.23em);
}

@import '_sidr.light','ooc','header','footer','page';

//Have blogging?
@import 'archive','articles';

.text{
	color:#000;
}